#변수란?
파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다.

객체란 우리가 지금까지 보아 온 자료형의 데이터(값)와 같은 것을 의미하는 말이다.

In [3]:
#1. 변수 a에 10 저장
a = 10
#2. 변수 a 출력
print(a)

#3. 변수 a에 20저장
a = 20
#4, 변수 a 출력
print(a)

10
20

#변수 만드는법
변수 선언 : 변수이름 = 값

변수가 자료형을 스스로 판단하여 지정해준다.

type() 함수를 사용하여 변수의 자료형을 확인할 수 있다.

In [4]:
a = 10
b = 10.123
c = 0o111
d = 0x88F

print(a)
print(b)  #변수 값 출력
print(c)
print(d)

print(type(a))
print(type(b))  #변수의 자료형 출력 후 확인
print(type(c))
print(type(d))

10
10.123
73
2191
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

#숫자형을 활용하기 위한 연산자
더하기, 빼기, 곱하기, 나누기를 활용한 사칙연산

**(제곱),  %(나머지),  //(몫)

In [18]:
#사칙연산
a = 10
b = 5
result = a + b  #더하기
print(result)

result = a - b  #빼기
print(result)

result = a * b  #곱하기
print(result)

result = a / b  #나누기(나누기는 항상 실수형으로 답이 나옴.)
print(result)

result = a % b  #나머지값
print(result)

result = a ** b #제곱
print(result)

result = a // b #몫
print(result)

result = 2 + 3 * 4  #곱하기 먼저
print(result)

result = (2 + 3) * 4  #괄호 먼저
print(result)

15
5
50
2.0
0
100000
2
14
20

#문자열을 만들고 사용하기

*     "큰따옴표로 양쪽 둘러싸기"
*     '작은따옴표로 양쪽 둘러싸기'
*   """큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기"""
*   '''작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기'''

In [7]:
a = 'a , 누구는 말했다."최선을 다하라"\n' #작은 따옴표로 문자열 만들기
print(a)

b = 'b , 누구는 말했다."최선을 다하라"\n' #줄이 바뀌면 에러
print(b)

c = '''c, 안"녕
하'세'
요\n'''
print(c)    #작은 따옴표 3개를 써서 줄이 바뀌어도 에러가 나지 않음.

d = """안녕하
세요"""
print(d)  #큰 따옴표 3개를 사용 작은 따옴표와 마찬가지

a , 누구는 말했다."최선을 다하라"

b , 누구는 말했다."최선을 다하라"

c, 안"녕
하'세'
요

안녕하
세요

#이스케이프 코드
이스케이프 코드란?

문자열 예제에서 여러 줄의 문장을 처리할 때 역슬래시 문자와 소문자 n을 조합한 \n 이스케이프 코드를 사용했다.

이스케이프(escape) 코드란 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 ‘문자 조합’을 말한다.

주로 출력물을 보기 좋게 정렬하는 용도로 사용한다. 몇 가지 이스케이프 코드를 정리하면 다음과 같다.

In [8]:
a = 'a , 누구는 말했다."최선을 다하라"\n' #\n으로 줄 바꿈
print(a)

b = "115\t23\t4516" #\t 사용으로 중간중간 탭 만큼 간격을 줌
c = "1\t31255\t456"
print(b)
print(c)

a , 누구는 말했다."최선을 다하라"

115	23	4516
1	31255	456

#문자열 연산하기
파이썬에서는 문자열을 더하거나 곱할 수 있다.

 이는 다른 언어에서는 쉽게 찾아볼 수 없는 재미있는 기능으로, 우리 생각을 그대로 반영해 주는 파이썬만의 장점이라고 할 수 있다.

In [19]:
a1 = "python "
a2 = "is good"

text = a1 + a2  #문자열을 더해서 합침
print(text)

text1 = a1 * 5  #문자열에 5를 곱하여 5개의 문자열이 나옴
print(text1)
print(a2*3)     #변수가 아닌 출력으로도 바로 문자열 곱하기

python is good
python python python python python
is goodis goodis good

#문자열 인덱싱
파이썬에서는 0부터 시작하는 순차 인덱싱 처리도 가능하고, 역순 번호를 이용한 인덱싱도 가능합니다.

역순 인덱싱 사용에는 항상 마지막 문자를 기준으로 -1부터 시작합니다.

In [67]:
#문자열 인덱싱
text = "python good"
"""python good   첫 문자열 부터 [0]으로 시작하고 공백 포함 [10]까지 되어있음
   마이너스로 하면 역순으로 [-11]로 시작하고 [-1]로 끝남"""
a = text[0]
aa = text[-11]
print(a)
print(aa)

b = text[6]
print(b)

c = text[7]
cc = text[-4]
print(c)

d = text[8]
print(d)

e = text[9]
print(e)
print(text[-11])
print(text[10])

p
p

g
o
o
p
d

#문자열 슬라이싱
문자열 인덱스 번호를 활용하여 한 문자 이상을 추출해 내는 방법입니다.

출력되는 문자열의 경우, 진행 방향에 따라 종료 인덱스 번호의 이전까지 출력 됩니다.

In [31]:
#문자열 슬라이싱
text = "python is good"
#하나의 문자만 뽑아내는게 아니라 여러 문자를 합칠 때 사용
print(text[10]+text[11]+text[12]+text[13])
print(text[10:14]) #[10] ~ [13]까지 출력
print(text[10:])   #[10] ~ 끝까지 출력

print(text[0]+text[1]+text[2]+text[3]+text[4]+text[5])

good
good
good
python

#문자열 길이 구하기(len)

In [10]:
text = "i love\tpython."
print(text)
print(len(text))

i love	python.
14

#같은 문자의 개수 구하기(count)

In [37]:
text = "python is good"
print(text.count('o'))
print(text.count('a'))

3
0

#문자열의 첫 위치 찾기(find)
없는 문자열이면 -1값을 준다

In [57]:
text = "python is good"
print(text.find("d"))
print(text.find("o"))
print(text.find(" "))
print(text.find("a"))

13
4
-1

#find와 같이 문자열의 첫 위치를 찾아준다(index)
다른점은 없는 문자열을 찾으면 오류가 난다

In [58]:
text = "python is good"
print(text.index("d"))
print(text.index("o"))
print(text.index(" "))
print(text.index("a")) #없는 문자라 오류를 발생시킴

13
4
6

ValueError: substring not found

#문자열 사이에 문자열 삽입(join)

In [33]:
text = "python is good"

print(','.join(text))

p,y,t,h,o,n, ,i,s, ,g,o,o,d

#문자열의 소문자를 대문자로 바꾸기(upper)

In [39]:
text1 = "python is good"
text2 = "PYTHON IS GOOD"

print(text1.upper())
print(text2.upper())

PYTHON IS GOOD
PYTHON IS GOOD

#문자열의 대문자를 소문자로 바꾸기(lower)

In [40]:
text1 = "python is good"
text2 = "PYTHON IS GOOD"

print(text1.lower())
print(text2.lower())

python is good
python is good

#문자열의 공백 지우기(strip)

In [60]:
text = "  hi  "

print(text)
print(text.strip()) #문자열의 양쪽 끝에 있는 연속되는 공백을 지운다
print(text.lstrip()) #문자열의 왼쪽 끝에 있는 연속되는 공백을 지운다
print(text.rstrip()) #문자열의 오른쪽 끝에 있는 연속되는 공백을 지운다

  hi
hi
hi
  hi

#문자열 나누기(split)

In [66]:
text = "python is good"
print(text.split()) #split의 괄호안에 아무것도 넣지 않으면 공백을 기준으로 문자열을 나누어준다

text1 = "a,b,c,d,e"
print(text1.split(','))#괄호안에 넣은 ,로 문자열을 하나씩 나누어 준다

['python', 'is', 'good']
['a', 'b', 'c', 'd', 'e']

#문자열, 정수, 실수 입력받기(input)

In [68]:
a = input('문자열을 입력해주세요: ') #문자열 입력받기
b = int(input('정수를 입력해주세요: ')) #정수형 입력받기
c = float(input('실수를을 입력해주세요: ')) #실수형 입력받기

print(b+c) #입력받은 수를 더해서 출력

문자열을 입력해주세요: 123
정수를 입력해주세요: 123
실수를을 입력해주세요: 123.123
246.123