# WHILE 반복문

# 1. 제곱 출력하기

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 입력된 정수 `num`까지의 숫자에 대해 다음을 수행한다:  
  - `while` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
  - `for` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
- 두 반복문 모두 `1^2`, `2^2`, ..., `num^2`까지의 결과를 출력해야 한다.

In [ ]:
num = int(input("정수를 입력해주세요:"))
i = 1
while i <= num:
  print(i**i)
  i+=1

num = int(input("정수를 입력해주세요:"))
for i in range(1,num+1):
  print(i**i)

정수를 입력해주세요:0
정수를 입력해주세요:0

# 2. 공 튀기기 시뮬레이션

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 공의 초기 높이는 100cm이다.  
- 공은 한 번 튈 때마다 이전 높이의 3/5만큼 튄다.  
- 입력한 횟수만큼 공이 튄 후, 최종 높이를 출력한다.  
- 최종 출력 형식은 `"최종 높이: ○○"`와 같이 표시한다.

In [ ]:
num = int(input("정수를 입력해주세요:"))
a = 100
for i in range(num):
  a = a * 3 / 5
print(a)

정수를 입력해주세요:3
21.6

# 3. 별찍기 문제
## 요구사항(4입력 예시)
- 패턴 1: 정방향 삼각형
- 패턴 2: 오른쪽 정렬 정방향 삼각형
- 패턴 3: 역삼각형
- 패턴 4: 오른쪽 정렬 역삼각형
- 패턴 5: 피라미드

In [ ]:
# 패턴 1
"""
*
**
***
****
"""

In [ ]:
# 패턴 2
"""
   *
  **
 ***
****
"""

In [ ]:
# 패턴 3
"""
****
***
**
*
"""

In [ ]:
# 패턴 4
"""
****
 ***
  **
   *
"""

In [ ]:
# 패턴 5
"""
   *
  ***
 *****
*******
"""

In [ ]:
for i in range(1,5):
  print("*"*i)
print()

for i in range(1,5):        #for i in range(1,5):
  a="*"*i                   # print(f"{'*'*i:>4}")
  print(a.rjust(4))         # print()
print()                     #


for i in range(4,0,-1):
  print("*"*i)
print()

for i in range(4,0,-1):
  a="*"*i
  print(a.rjust(4))
print()

for i in range(1,8,2):
  print(f"{'*'*i:^7}")

#for i in range(1,8,2):
  #print("{0:^7}".format("*"*i))

*
**
***
****

   *
  **
 ***
****

****
***
**
*

****
 ***
  **
   *

   *
  ***
 *****
*******
   *
  ***
 *****
*******

# 4. 커피 자판기 시뮬레이션

## 요구 사항
- 사용자에게 커피 개수를 입력받는다.
- 사용자가 돈을 넣으면 다음 조건에 따라 처리한다:
  - 커피 값은 300원이다.
  - 300원을 넣으면 "커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 많이 넣으면 "거스름돈 ○○원을 주고 커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 적게 넣으면 "돈을 다시 돌려주고 커피를 주지 않습니다."를 출력하고, 남은 커피 수를 출력한다.  
- 커피가 0개가 되면 "커피가 다 떨어졌습니다. 판매를 중지합니다."를 출력하고 반복을 종료한다.

In [ ]:
count = int(input("커피 개수:"))

while True:
  money = int(input("돈을 넣어주세요:"))
  if money == 300:
    print("커피를 줍니다.")
    count-=1
    if count == 0:
      print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
      break
  elif money > 300:
    print("거스름돈 %d원을 주고 커피를 줍니다." %(money - 300))
    count-=1
    if count == 0:
      print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
      break
  elif money < 300:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피 개수:%d" % count)

커피 개수:3
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:3
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 개수:2
돈을 넣어주세요:400
거스름돈 100원을 주고 커피를 줍니다.
돈을 넣어주세요:3
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 개수:1
돈을 넣어주세요:3
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 개수:1
돈을 넣어주세요:400
거스름돈 100원을 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

# FOR 반복문

# 1. 문자열 내 알파벳 빈도수 출력

## 요구 사항
- 사용자로부터 문자열을 입력받는다.  
- 입력된 문자열에서 알파벳(a~z, A~Z)의 빈도수를 출력한다.  
- 대소문자는 구분하지 않는다.  
- 알파벳이 아닌 문자는 무시한다.  
- 알파벳은 오름차순으로 정렬하여 출력한다.

### 예시 입력
Hello, Python!

### 예시 출력
- e: 1
- h: 2
- l: 2
- n: 1
- o: 2
- p: 1
- t: 1
- y: 1

In [ ]:
a = input("")

dict = {}
for i in a:
  if i.encode().isalpha():
    b = i.lower()
    if b in dict:
      dict[b] += 1
    else:
      dict[b]=1

for i,j in sorted(dict.items()):
  print("%s:%s" % (i,j))

#print(dict)



















# 1. 알파벳인지 확인 문자열 encode().isalpha()
# 2. 소문자로 변경 lower()
# 중복 제거(자료형 or 리스트와 for문을 통해서 중복제거)
# 3. 문자열 X, 리스트 Sort()
# count -> 중복 제거된 거 가지고 원래 문자열의 요소의 개수 세기

fw$2849jflksㅎㄴㄷㅎ
f:2
j:1
k:1
l:1
s:1
w:1

# 2. 계단식 숫자 출력

## 요구 사항
- 사용자로부터 정수 n을 입력받는다.  
- `for` 반복문을 이용해 다음과 같은 숫자 계단을 출력한다.  
- 각 줄에는 1부터 해당 줄 번호까지의 숫자를 공백과 함께 출력한다. 단, 마지막에는 공백이 있어선 안된다.
- 줄 수는 입력한 정수만큼 출력한다.

### 예시 출력 (입력: 5)
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [338]:
a = int(input(""))

for i in range(1,a+1):
  for j in range(1,i+1):
    if j != i:
      print("%d"%j,end=' ')
    else:
      print(j, end='')
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 3. 1부터 500까지 3과 5의 공배수 출력

## 요구 사항
- 1부터 500까지 숫자 중에서 **3과 5의 공배수**만 출력한다.  
- 출력 결과는 한 줄에 5개씩 출력되도록 한다.  
- 줄바꿈은 5개를 출력할 때마다 적용한다.  
- 각 숫자는 가독성을 위해 일정한 간격으로 정렬한다.

### 예시 출력
15 30 45 60 75

90 ...

In [ ]:
c = 0
for i in range(1,501):
  if i%3==0 and i%5==0:
    print(i,end='\t')
    c+=1
    if c % 5 == 0:
      print(" ")

15	30	45	60	75
90	105	120	135	150
165	180	195	210	225
240	255	270	285	300
315	330	345	360	375
390	405	420	435	450
465	480	495

# 4. 구구단 2단부터 9단까지 출력하기

## 요구 사항
- `for` 반복문을 중첩 사용하여 **2단부터 9단까지**의 구구단을 출력한다.  
- 각 단은 `단 제목`을 먼저 출력한 후, 그 단의 곱셈 결과를 1부터 9까지 출력한다.  
- 출력 형식은 `2 x 1 = 2`, `3 x 2 = 6`과 같은 형태로 출력한다.

In [342]:
for i in range(2,10):
  print(f"{i}단")

  for j in range(1,10):
    print("%d x %d = %d" %(i,j,j*i))
  print()

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81