#반복문

#while문
주어진 조건이 참인 동안 코드를 반복 실행

while 조건:
  조건이 참인 경우 실행되는 문장(코드)

In [ ]:
num = 0
#while문 조건
while num <= 5:
  #조건이 참인 경우 실행되는 문장
  print(num)
  #조건을 변경시키는 문장을 항상 while문 내부에 포함시켜야함 그렇지 않으면 무한반복에 빠짐
  num+=1 #num = num+1
#마지막 num의 값은 6이되어 while문에서 빠져나온 후 이 문장을 출력
print("while문이 종료된 후 num의 값은 %d입니다"% num)

0
1
2
3
4
5
while문이 종료된 후 num의 값은 6입니다

#Break문
while문의 조건과 관계없이 강제로 탈출하는 명령어

In [ ]:
while True:
  print("True")
  break

while False:
  print("False")

True

In [ ]:
num = 1

while True:
  print(num)
  num += 1

  if num >5:
    break

1
2
3
4
5

#CONTINUE 명령어
while문을 continue 아래의 문장을 무시하고 다음 루프로 실행시키는 코드

continue를 만나는 순간 즉시 조건을 검색하러간다

In [ ]:
num = 0
while num <= 10:
  num += 1

  if num < 5:
    continue  #num이 5미만일 때 continue문으로 인해 print문이 실행되지 않는다

  print(num)

5
6
7
8
9
10
11

#n보다 작거나 같은 3의 배수 합 구하기 예제
사용자로부터 정수n을 입력받는다.

while 반복문을 사용하여 1부터 n까지의 숫자중 3의 배수만 더한 합계를 출력한다

In [ ]:
n = int(input("정수를 입력하세요:"))
m = 0
sum = 0
while m <= n:
  if m % 3 == 0:
    sum += m
  m += 1
print(sum)

정수를 입력하세요:10
18

#1부터 입력한 수까지 홀수만 출력하되, 100보다 크면 종료하는 예제

사용자로부터 정수 n을 입력받는다.

while문을 사용하여 1부터 n까지의 숫자중 홀수만 출력한다

단 숫자가 100보다 크면 더이상 출력하지 않고 반복문을 종료한다

continue는 짝수를 건너뛸 때 사용하고, break는 100초과 시 종료할 때 사용한다

In [ ]:
n = int(input("정수를 입력하세요:"))
m = 1
while m <= n:
  if m >= 100:
    break
  if m % 2 == 0:
    m+=1
    continue

  print(m)
  m+=1

정수를 입력하세요:199
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#for문
특정 코드를 여러 번 실행

while문과 비슷하게 사용

continue, break문 사용 가능

In [ ]:
list1 = ['one','twe','three','four','five']

count = 1
for i in list1:
  print(str(count)+'회차 i의 값:',end="")
  print(i)
  count = count+1


a = [(1,1),(2,2),(3,3)]

for (b,c)in a:
  print(b+c)

1회차 i의 값:one
2회차 i의 값:twe
3회차 i의 값:three
4회차 i의 값:four
5회차 i의 값:five
2
4
6

#학생들의 점수 출력 예제


*   아래와 같이 (이름,점수) 형태의 튜플이 담긴 리스트가 주어진다.

    students = [("철수", 85), ("영희",92),("민수",78)]
*   for 반복문을 사용하여 다음과 같이 각 학생의 이름과 점수를 출력한다.

In [ ]:
students = [("철수", 85), ("영희",92),("민수",78)]

for (name,score) in students:
  print(f"{name}의 점수는 {score}입니다")

철수의 점수는 85입니다
영희의 점수는 92입니다
민수의 점수는 78입니다

In [ ]:
for i in range(10):
  print(i)

print()

for i in range(-10,11,2):
  print(i)

0
1
2
3
4
5
6
7
8
9

-10
-8
-6
-4
-2
0
2
4
6
8
10

#구구단 출력 예제

In [ ]:
for i in range(1,10):
  print(f"9 x {i} = {9*i}")

for i in range(1,10):
  print("9 x %d = %d"%(i,i*9))

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#학생 점수에 따라 합격/불합격을 판별 예제
학생들의 점수 리스트 scores = [15,50,46,86,94]가 주어진다

for 반복문을 이용하여 리스트의 각 점수를 확인하며 다음 조건을 따른다

1.num이라는 번호를 1부터 증가시긴다

2.번호가 짝수인 경우 continue를 사용하여 건너뛴다

3.번호가 5가되면 break를 사용하여 반복을 중단한다

4.그 외에는 점수가 50이상이면 합격 아니면 불합격

In [ ]:
scores = [15,50,46,86,94]
num = 0

for i in scores:
  num = num+1

  if num % 2 == 0:
    continue

  if num == 5:
    break

  if i >= 50:
    print(f"{num}번학생 합격")
  else:
    print(f"{num}번학생 불합격")

1번학생 불합격
3번학생 불합격

#예제 심화

In [ ]:
scores = [15,50,46,86,94,100,51,60]
num = 0
avg = 0
m = 0
for i in scores:
  num = num+1

  if num % 2 == 0:
    continue

  if i >= 60:
    print(f"{num}번학생 합격")
  else:
    avg = avg+i
    m+=1
    print(f"{num}번학생 불합격")
#print(f"불합격한 학생들의 평균점수는{avg/m}입니다")
#print(str(count)+'회차 i의 값:',end="")
print(str(avg/m)+'불합격한 학생들이 평균점수는:',end="")
print(avg/m)

1번학생 불합격
3번학생 불합격
5번학생 합격
7번학생 불합격
37.333333333333336불합격한 학생들이 평균점수는:37.333333333333336

#2중for문 간단 예시

In [ ]:
for i in range(3):
  for j in range(5):
    print('*',end='')
  print()

*****
*****
*****

#3장 연습문제

In [ ]:
#1번문제
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [ ]:
#2번문제
result = 0
i = 1
while i <= 1000:
  if i % 3 == 0:
    result += i
  i += 1
print(result)

166833

In [ ]:
#3번문제
i = 0
while True:
  i += 1
  if i > 5:
    break
  print('*'*i)

*
**
***
****
*****

In [ ]:
#4번문제
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#5번문제
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
  total += score
average = total/10
print(average)

79.0