In [5]:
import copy
a=[1,2,3,4]
b=copy.deepcopy(a)
b[2]=1
a,b

([1, 2, 3, 4], [1, 2, 1, 4])

In [29]:
prices=[85000,140000,200000]
print("prices:%d" % len(prices))#len을 이용해 길이 구하기
prices.append(15000)#append를 이용해 마지막 자리에 15000추가하기
print("prices:%d" % len(prices))
print(prices)
x=[1,2,3,4]
prices.extend(x)#extend로 합치기
print(prices)
prices.sort()#오름차순
print(prices)
prices.sort(reverse=True)#내림차순
print(prices)
y=sorted(prices)
print(y)
y=sorted(prices, reverse=True)
print(y)

prices:3
prices:4
[85000, 140000, 200000, 15000]
[85000, 140000, 200000, 15000, 1, 2, 3, 4]
[1, 2, 3, 4, 15000, 85000, 140000, 200000]
[200000, 140000, 85000, 15000, 4, 3, 2, 1]
[1, 2, 3, 4, 15000, 85000, 140000, 200000]
[200000, 140000, 85000, 15000, 4, 3, 2, 1]

In [35]:
prices_tuple=(85000,140000,200000)
print(prices_tuple)
prices_tuple=85000,140000,200000
print(prices_tuple)
prices_tuple[0]
#prices_tuple[0]=1 값을 바꿀수 없어 오류
prices_tuple[0:2]

(85000, 140000, 200000)
(85000, 140000, 200000)

(85000, 140000)

In [55]:
prices_list=[85000,140000,200000,85000]
#print(prices_list)
prices_set=set(prices_list)
prices_set.add(15000)#add 값 추가
print(prices_set)
prices_set.add(85000)
print(prices_set)
prices_set.remove(85000)#remove 값 삭제
print(prices_set)
print(len(prices_set))
150 in prices_set #값이 있으면 True 없으면 False
#prices_tuple=(85000,140000,200000)
#prices_set=set(prices_tuple)
#print(prices_set)

{85000, 140000, 200000, 15000}
{85000, 140000, 200000, 15000}
{140000, 200000, 15000}
3

False

In [59]:
listA=[1,2,3,1,2,3,4,5,6]
print(listA)
setA = set(listA) #집합으로 바꿔 중복을 삭제
print(setA)
listB = list(setA)#중복이 삭제된 상태로 리스트 변환
listB

[1, 2, 3, 1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

[1, 2, 3, 4, 5, 6]

In [61]:
my_dict={}
my_dict1=dict()#딕셔너리 변환
my_dict1

{}

In [80]:
my_eng={'one':'하나', 'two':'둘','three':'셋', 'apple':'사과' }
my_eng['pineapple'] = '파인애플'#추가
my_eng['school'] = '학교'
print(my_eng)
my_eng.pop('one')#삭제
print(my_eng)
print(my_eng.keys())#키값
print(my_eng.values())#밸류값
print(my_eng.items())
'apple' in my_eng #있는지 확인

{'one': '하나', 'two': '둘', 'three': '셋', 'apple': '사과', 'pineapple': '파인애플', 'school': '학교'}
{'two': '둘', 'three': '셋', 'apple': '사과', 'pineapple': '파인애플', 'school': '학교'}
dict_keys(['two', 'three', 'apple', 'pineapple', 'school'])
dict_values(['둘', '셋', '사과', '파인애플', '학교'])
dict_items([('two', '둘'), ('three', '셋'), ('apple', '사과'), ('pineapple', '파인애플'), ('school', '학교')])

False

In [88]:
my_eng={'one':'하나', 'two':'둘','three':'셋', 'apple':'사과' }
for key in my_eng:
  print(key, my_eng[key])

for aa in my_eng.keys():
  print(aa)
  print(my_eng[aa])

for bb, cc in my_eng.items():
  print(bb,cc)

for cc in my_eng.values():
  print(cc)

one 하나
two 둘
three 셋
apple 사과
one
하나
two
둘
three
셋
apple
사과
one 하나
two 둘
three 셋
apple 사과
하나
둘
셋
사과

In [105]:
my_stocks={'ss':10,'lg':5,'sk':5}
print(my_stocks)
my_stocks['lg']=15 #값 변경
my_stocks['naver']=20 #값 추가
print(my_stocks)

try:
  print(my_stocks['naver'])
except KeyError:
  print("no price")

{'ss': 10, 'lg': 5, 'sk': 5}
{'ss': 10, 'lg': 15, 'sk': 5, 'naver': 20}
20

In [109]:
1<2
True==False
1==2

False

In [123]:
#all([True, 1==2, {1}]) 모두 참이어야 True
#any([False, 1==2, {}]) 모두 거짓이어야 False

False

In [129]:
a=4
if a%2==0:
  print("짝수")
else:
  print("홀수")

짝수
입니다

In [130]:
a=4
parlty="짝수" if a%2==0 else "홀수"
parlty

'짝수'

In [131]:
price=800
if price==900:
  print("직접 입력")
elif price>900:
  print("비싼 가격")
else:
  print("낮은 가격")

낮은 가격

In [136]:
#for x in range(0, 10 ,1):
for x in range(10):
  print(x,"는 4의 배수로 10보다 작다")

for x in range(15, 10, -1):
  print(x)

for i in range(2, 10):
  for j in range(1, 10):
    print("%d*%d=%d"%(i,j,i*j))

0 는 4의 배수로 10보다 작다
1 는 4의 배수로 10보다 작다
2 는 4의 배수로 10보다 작다
3 는 4의 배수로 10보다 작다
4 는 4의 배수로 10보다 작다
5 는 4의 배수로 10보다 작다
6 는 4의 배수로 10보다 작다
7 는 4의 배수로 10보다 작다
8 는 4의 배수로 10보다 작다
9 는 4의 배수로 10보다 작다
15
14
13
12
11

In [158]:
for i in range(1, 10):
  for j in range(2, 10):
    print("%d*%d=%d"%(j,i,i*j),end="\t")
  print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [159]:
cars = ['sonata', 'tesla', 'avante', 'lexus']
for i in cars:
  if i == 'tesla':
    print(i.upper()) #lower
  else:
    print(i.title())

Sonata
TESLA
Avante
Lexus

In [160]:
for x in range(10):
  if x==3:
    continue
  if x==7:
    break
  print(x)

0
1
2
4
5
6

In [ ]:
for x in range(0, 10 ,1):
  print(x)

In [169]:
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [170]:
s= [x * x for x in range(5)]
s

[0, 1, 4, 9, 16]