#변수란?
파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다.

객체란 우리가 지금까지 보아 온 자료형의 데이터(값)와 같은 것을 의미하는 말이다.

In [ ]:
#1. 변수 a에 10 저장
a = 10
#2. 변수 a 출력
print(a)

#3. 변수 a에 20저장
a = 20
#4, 변수 a 출력
print(a)

10
20

#변수 만드는법
변수 선언 : 변수이름 = 값

변수가 자료형을 스스로 판단하여 지정해준다.

type() 함수를 사용하여 변수의 자료형을 확인할 수 있다.

In [ ]:
a = 10
b = 10.123
c = 0o111
d = 0x88F

print(a)
print(b)  #변수 값 출력
print(c)
print(d)

print(type(a))
print(type(b))  #변수의 자료형 출력 후 확인
print(type(c))
print(type(d))

10
10.123
73
2191
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

#숫자형을 활용하기 위한 연산자
더하기, 빼기, 곱하기, 나누기를 활용한 사칙연산

**(제곱),  %(나머지),  //(몫)

In [ ]:
#사칙연산
a = 10
b = 5
result = a + b  #더하기
print(result)

result = a - b  #빼기
print(result)

result = a * b  #곱하기
print(result)

result = a / b  #나누기(나누기는 항상 실수형으로 답이 나옴.)
print(result)

result = a % b  #나머지값
print(result)

result = a ** b #제곱
print(result)

result = a // b #몫
print(result)

result = 2 + 3 * 4  #곱하기 먼저
print(result)

result = (2 + 3) * 4  #괄호 먼저
print(result)

15
5
50
2.0
0
100000
2
14
20

#문자열을 만들고 사용하기

*     "큰따옴표로 양쪽 둘러싸기"
*     '작은따옴표로 양쪽 둘러싸기'
*   """큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기"""
*   '''작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기'''

In [ ]:
a = 'a , 누구는 말했다."최선을 다하라"\n' #작은 따옴표로 문자열 만들기
print(a)

b = 'b , 누구는 말했다."최선을 다하라"\n' #줄이 바뀌면 에러
print(b)

c = '''c, 안"녕
하'세'
요\n'''
print(c)    #작은 따옴표 3개를 써서 줄이 바뀌어도 에러가 나지 않음.

d = """안녕하
세요"""
print(d)  #큰 따옴표 3개를 사용 작은 따옴표와 마찬가지

a , 누구는 말했다."최선을 다하라"

b , 누구는 말했다."최선을 다하라"

c, 안"녕
하'세'
요

안녕하
세요

#이스케이프 코드
이스케이프 코드란?

문자열 예제에서 여러 줄의 문장을 처리할 때 역슬래시 문자와 소문자 n을 조합한 \n 이스케이프 코드를 사용했다.

이스케이프(escape) 코드란 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 ‘문자 조합’을 말한다.

주로 출력물을 보기 좋게 정렬하는 용도로 사용한다. 몇 가지 이스케이프 코드를 정리하면 다음과 같다.

In [ ]:
a = 'a , 누구는 말했다."최선을 다하라"\n' #\n으로 줄 바꿈
print(a)

b = "115\t23\t4516" #\t 사용으로 중간중간 탭 만큼 간격을 줌
c = "1\t31255\t456"
print(b)
print(c)

a , 누구는 말했다."최선을 다하라"

115	23	4516
1	31255	456

#문자열 연산하기
파이썬에서는 문자열을 더하거나 곱할 수 있다.

 이는 다른 언어에서는 쉽게 찾아볼 수 없는 재미있는 기능으로, 우리 생각을 그대로 반영해 주는 파이썬만의 장점이라고 할 수 있다.

In [ ]:
a1 = "python "
a2 = "is good"

text = a1 + a2  #문자열을 더해서 합침
print(text)

text1 = a1 * 5  #문자열에 5를 곱하여 5개의 문자열이 나옴
print(text1)
print(a2*3)     #변수가 아닌 출력으로도 바로 문자열 곱하기

python is good
python python python python python
is goodis goodis good

#문자열 인덱싱
파이썬에서는 0부터 시작하는 순차 인덱싱 처리도 가능하고, 역순 번호를 이용한 인덱싱도 가능합니다.

역순 인덱싱 사용에는 항상 마지막 문자를 기준으로 -1부터 시작합니다.

In [ ]:
#문자열 인덱싱
text = "python good"
"""python good   첫 문자열 부터 [0]으로 시작하고 공백 포함 [10]까지 되어있음
   마이너스로 하면 역순으로 [-11]로 시작하고 [-1]로 끝남"""
a = text[0]
aa = text[-11]
print(a)
print(aa)

b = text[6]
print(b)

c = text[7]
cc = text[-4]
print(c)

d = text[8]
print(d)

e = text[9]
print(e)
print(text[-11])
print(text[10])

p
p

g
o
o
p
d

#문자열 슬라이싱
문자열 인덱스 번호를 활용하여 한 문자 이상을 추출해 내는 방법입니다.

출력되는 문자열의 경우, 진행 방향에 따라 종료 인덱스 번호의 이전까지 출력 됩니다.

In [ ]:
#문자열 슬라이싱
text = "python is good"
#하나의 문자만 뽑아내는게 아니라 여러 문자를 합칠 때 사용
print(text[10]+text[11]+text[12]+text[13])
print(text[10:14]) #[10] ~ [13]까지 출력
print(text[10:])   #[10] ~ 끝까지 출력

print(text[0]+text[1]+text[2]+text[3]+text[4]+text[5])

good
good
good
python

#문자열 길이 구하기(len)

In [ ]:
text = "i love\tpython."
print(text)
print(len(text))

i love	python.
14

#같은 문자의 개수 구하기(count)

In [ ]:
text = "python is good"
print(text.count('o'))
print(text.count('a'))

3
0

#문자열의 첫 위치 찾기(find)
없는 문자열이면 -1값을 준다

In [ ]:
text = "python is good"
print(text.find("d"))
print(text.find("o"))
print(text.find(" "))
print(text.find("a"))

13
4
-1

#find와 같이 문자열의 첫 위치를 찾아준다(index)
다른점은 없는 문자열을 찾으면 오류가 난다

In [ ]:
text = "python is good"
print(text.index("d"))
print(text.index("o"))
print(text.index(" "))
print(text.index("a")) #없는 문자라 오류를 발생시킴

13
4
6

ValueError: substring not found

#문자열 사이에 문자열 삽입(join)

In [ ]:
text = "python is good"

print(','.join(text))

p,y,t,h,o,n, ,i,s, ,g,o,o,d

#문자열의 소문자를 대문자로 바꾸기(upper)

In [ ]:
text1 = "python is good"
text2 = "PYTHON IS GOOD"

print(text1.upper())
print(text2.upper())

PYTHON IS GOOD
PYTHON IS GOOD

#문자열의 대문자를 소문자로 바꾸기(lower)

In [ ]:
text1 = "python is good"
text2 = "PYTHON IS GOOD"

print(text1.lower())
print(text2.lower())

python is good
python is good

#문자열의 공백 지우기(strip)

In [ ]:
text = "  hi  "

print(text)
print(text.strip()) #문자열의 양쪽 끝에 있는 연속되는 공백을 지운다
print(text.lstrip()) #문자열의 왼쪽 끝에 있는 연속되는 공백을 지운다
print(text.rstrip()) #문자열의 오른쪽 끝에 있는 연속되는 공백을 지운다

  hi
hi
hi
  hi

#문자열 나누기(split)

In [ ]:
text = "python is good"
print(text.split()) #split의 괄호안에 아무것도 넣지 않으면 공백을 기준으로 문자열을 나누어준다

text1 = "a,b,c,d,e"
print(text1.split(','))#괄호안에 넣은 ,로 문자열을 하나씩 나누어 준다

['python', 'is', 'good']
['a', 'b', 'c', 'd', 'e']

#문자열, 정수, 실수 입력받기(input)

In [ ]:
a = input('문자열을 입력해주세요: ') #문자열 입력받기
b = int(input('정수를 입력해주세요: ')) #정수형 입력받기
c = float(input('실수를을 입력해주세요: ')) #실수형 입력받기

print(b+c) #입력받은 수를 더해서 출력

문자열을 입력해주세요: 123
정수를 입력해주세요: 123
실수를을 입력해주세요: 123.123
246.123

#list(리스트) [ ]
리스트 선언 및 활용

In [2]:
#비어있는 리스트
a=list()
a=[]

#리스트 선언
b=[1,"문자열",-0.5,'안녕']

#b리스트 c에 복사
c=list(b)

print(a)
print(b)
print(c)

[]
[1, '문자열', -0.5, '안녕']
[1, '문자열', -0.5, '안녕']

#리스트 인덱싱

In [71]:
a=[1,"문자열",-0.5,'안녕']

print("a[0]:",a[0])
print("a[1]:"+a[1])
print("a[2]:",a[2])
print("a[3]:"+a[3])

print("a[1][0]:"+a[1][0])
print("a[1][1]:"+a[1][1])
print("a[1][2]:"+a[1][2])

b=[1,2,[3,4,5]]
print("b[0]:"+str(b[0])) #1
print("b[1]:"+str(b[1])) #2
print("b[2]:"+str(b[2])) #3,4,5
print()

c = [1,2,3, ['python', 'is', 'good', ['a', 'b', 'c']]]

a[0]: 1
a[1]:문자열
a[2]: -0.5
a[3]:안녕
a[1][0]:문
a[1][1]:자
a[1][2]:열
b[0]:1
b[1]:2
b[2]:[3, 4, 5]

#리스트 슬라이싱

In [67]:
b = [1,2,3, ['python', 'is', 'good', ['a', 'b', 'c']]]

print(b[0:3])
print(b[0:])
print(b[:4])

[1, 2, 3]
[1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]
[1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

#리스트 연산하기

In [69]:
a=[1,2,3]
b=[4,5,6]

print(a+b)
print(a[1]+b[1])

print(a*3)
print(b*4)

[1, 2, 3, 4, 5, 6]
7
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

#len()

리스트의 길이를 구하는 함수

In [15]:
b = [1,2,3, ['python', 'is', 'good', ['a', 'b', 'c']]]
print(len(b))
print(len(b[3]))
print(len(b[3][0]))

4
4
6

#리스트 수정 삭제 추가
삭제:del

추가:append()

In [57]:
a = [1,2,3,4,6]
print(a)

a[4]=5
print(a)

del a[0]
print(a)

del a[2:]
print(a)

a.append(4)
print(a)
a.append([5,6,7,8])
print(a)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3]
[2, 3, 4]
[2, 3, 4, [5, 6, 7, 8]]

#sort()
리스트의 값들을 순서대로 정렬해준

In [54]:
a = [7,3,8,5,4,2,9,1]
print(a)

a.sort()
print(a)

b = ['b','e','d','f','a','c']
print(b)
b.sort()
print(b)

[7, 3, 8, 5, 4, 2, 9, 1]
[1, 2, 3, 4, 5, 7, 8, 9]
['b', 'e', 'd', 'f', 'a', 'c']
['a', 'b', 'c', 'd', 'e', 'f']

#reverse()
리스트의 값들을 거꾸로 뒤집어준다

In [56]:
a = [7,3,8,5,4,2,9,1]
print(a)

a.reverse()
print(a)

b = ['b','e','d','f','a','c']
print(b)
b.reverse()
print(b)

[7, 3, 8, 5, 4, 2, 9, 1]
[1, 9, 2, 4, 5, 8, 3, 7]
['b', 'e', 'd', 'f', 'a', 'c']
['c', 'a', 'f', 'd', 'e', 'b']

#index()
원하는 요소의 위치를 찾는 함수

없는 값을 찾으면 에러를 발생

In [17]:
a=[1,2,3,4,5,1]
print(a.index(3))
print(a.index(1))

2
0

#insert()
리스트의 원하는 위치에 원하는 값을 삽입

In [16]:
a = [1,2,3,4,5]
print(a)

a.insert(2, 6)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 6, 3, 4, 5]

#remove()
리스트의 원하는 값을 제거

중복된 값이 있을 시 첫번 째 값을 제거

In [ ]:
a = [1,2,3,1,4,5]
print(a)

a.remove(1)
print(a)

a.remove(3)
print(a)

#pop()
리스트의 원하는 위치에 값을 추출

In [ ]:
a = [1,2,3,4,5]
print(a)

b = a.pop(2)
print(a)
print(b)

#count()
리스트의 있는 원하는 값 개수 세기

In [50]:
a = [1,5,3,6,4,1,33,4,1,3,753,2,34]
print(a)

print(a.count(1))
print(a.count(999)) #없는 값은 0으로 출력

[1, 5, 3, 6, 4, 1, 33, 4, 1, 3, 753, 2, 34]
3
0

#extend()
원래 리스트에 extend하여 값을 더한다

In [63]:
a = [1,2,3,4,5]
print(a)

a.extend([6,7,8])
print(a)

b = [9,10]
a.extend(b)
print(a)

a = ['a','b','c']
a.extend('d')
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['a', 'b', 'c', 'd']

#tuple 튜플()
튜플은 생성하면 값의 변경과 삭제가 불가능하다

In [19]:
t1 = (1,2,3, ('python', 'is', 'good'))
print(t1)

t2 = (2,)
print(t2)

(1, 2, 3, ('python', 'is', 'good'))

#튜플 인덱싱, 슬라이싱

In [43]:
t1 = (1,2,3, ('python', 'is', 'good'))
print(t1[0])
print(t1[3])

print(t1[0:3])
print(t1[1:4])

1
('python', 'is', 'good')
(1, 2, 3)
(2, 3, ('python', 'is', 'good'))

#튜플 연산하기

In [49]:
t1 = (1,2,3,'a','b','c')
t2 = (5,6)

t3 = t1+t2  #튜플의 값을 바꿔주는게 아닌 합친 새로운 튜플 생성
print(t3)

t4 = t2*4   #값을 곱하는게 아닌 반복
print(t4)

(1, 2, 3, 'a', 'b', 'c', 5, 6)
(5, 6, 5, 6, 5, 6, 5, 6)

#불 자료형
참 또는 거짓의 값을 갖는 자료형

In [26]:
a = True
b = False
print(a)
print(b)
print(1==1)
print(2>5)

True
False
True
False

In [85]:
print("True and False:",bool(0 and 0)) #하나라도 거짓이면 False 둘다 참이어야 True
print("True and False:",bool(0 and 1))
print("True and False:",bool(1 and 0))
print("True and False:",bool(1 and 1))

print("True  or False:",bool(0 or 0)) #하나라도 참이면 True 둘다 거짓이어야 False
print("True  or False:",bool(0 or 1))
print("True  or False:",bool(1 or 0))
print("True  or False:",bool(1 or 1))

print("not True :",bool(not 1)) #참이면 거짓
print("not False:",bool(not 0)) #거짓이면 참

True and False: False
True and False: False
True and False: False
True and False: True
True  or False: False
True  or False: True
True  or False: True
True  or False: True
not True : False
not False: True

#딕셔너리
key와 value를 한 쌍으로 가지는 자료형

순서가 없기 때문에 인덱싱 및 슬라이싱이 불가능

key값은 고유한 값으로 중복되는 key값을 사용하면 안됨

In [22]:
dic = {'사과':'apple','바나나':'banana','메론':'melon'}
print(dic)
dic[3] = 'three'
print(dic)

{'사과': 'apple', '바나나': 'banana', '메론': 'melon'}
{'사과': 'apple', '바나나': 'banana', '메론': 'melon', 3: 'three'}

#딕셔너리 함수
key()

values()

items()

In [27]:
dic = {'사과':'apple','바나나':'banana','메론':'melon'}
print(dic.keys())
print(dic.values())
print(dic.items())

print('사과'in dic)

dict_keys(['사과', '바나나', '메론'])
dict_values(['apple', 'banana', 'melon'])
dict_items([('사과', 'apple'), ('바나나', 'banana'), ('메론', 'melon')])
True

#집합 set()

중복을 허용하지 않고 순서가 없다

set은 중복을 허용하지 않는 특징 때문에 데이터의 중복을 제거하기 위한 필터로 종종 사용된다

In [28]:
s1 = set([1,2,3,3,2])
s2 = set("i am a boy")
s3 = set([1,2,3])
print(s1)
print(s2)
print(s3)

#집합의 인덱싱 활용하기위해 리스트로 변환해야한다.
li = list(s1)
print(li)
print(li[0])

{1, 2, 3}
{'y', 'm', 'a', 'o', 'i', ' ', 'b'}
{1, 2, 3}
[1, 2, 3]
1

#집합 연산
교집합

합집합

차집합

In [29]:
s1 = set([1,2,3,3,2])
s2 = set("i am a boy")
s3 = set([1,2,3])

print(s1 & s3)
print(s1 | s3)
print(s1 - s3)

{1, 2, 3}
{1, 2, 3}
set()

#집합 함수
add()

update()

remove()

In [37]:
s1 = set([1,2,3])
print(s1)

s1.add(4)
print(s1)

s1.update([5,6,7])
print(s1)

s1.remove(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}