#조건문
특정 조건을 평가하고, 그 조건에 따라 다른 코드를 실행

if문:주어진 조컨이 참일 경우에만 특정 코드를실행

else문:if 문의 조건이 거짓일 경우에 실행

elif문:첫 번째 if 조건이 거짓이고, 다시 조건문을 평가하고자 할 때 실행

In [10]:
#조건문 예시
score = int(input("점수를 입력하세요:"))
if score >= 90:
  print("A") #90점 이상일 시 출력
elif score >= 80:
  print("B") #80점 이상일 시 출력
elif score >= 70:
  print("C") #70점 이상일 시 출력
else:
  print("F")

점수를 입력하세요:100
A

In [4]:
#조건문 예시2
character = input("문자를 입력하세요:")

if character == 'a':
  print("입력한 문자는 'a'입니다.")
else:
  print("입력한 문자는 'a'가 아닙니다.")

문자를 입력하세요:ㅁ
입력한 문자는 'a'가 아닙니다.

In [12]:
#조건문 예시3
a = True
if a:
  print("a는 True입니다.")
  print("if문에 속해있는 문장입니다.")
else:
  print("a는 False입니다.")
  print("else문에 속해있는 문장입니다.")

a는 True입니다.
if문에 속해있는 문장입니다.

In [13]:
#조건문 예시4
m = 70
e = 50

if m>=60 and e>=60:
  print("합격") #and연산문 사용으로 둘다 60점 이상으로 참일 시 출력
else:
  print("불합격")

불합격

#IN
원하는 원소가 있는지 확인하는 연산자

In [21]:
li = [1,2,3,4,5]
tu = (2,3,4,5)

print(1 in li) #1이 있어서 True
print(1 in tu) #1이 없어서 False

True
False

#만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어가세요

In [22]:
pocket = ['phone','wallet','money','IDcard']
#if문과 in연산자를 사용한 코드
if 'money' in pocket:
  print("택시를 타고 가세요.")
else:
  print("걸어가세요.")

#not으로 반대로도 사용 가능
if 'money' not in pocket:
  print("걸어가세요.")
else:
  print("택시를 타고 가세요.")

택시를 타고 가세요.
택시를 타고 가세요.

#만약 주머니에 돈이 있거나 카드가 있으면 택시를 타고, 없으면 걸어가세요

In [47]:
pocket = ['phone','card','money','IDcard']
#elif문을 활용
if 'money' in pocket:
  print("택시를 타고 가세요.")
elif 'card' in pocket:
  print("택시를 타고 가세요.")
else:
  print("걸어가세요.")

#논리 연산자 or 사용으로 짧게
if 'money' or 'card' in pocket:
  print("택시를 타고 가세요.")
else:
  print("걸어가세요.")

택시를 타고 가세요.
택시를 타고 가세요.

#점수에 따른 등급 부여 문제
학생들에게 점수에 따라서 등급을 부여하려고 한다.

90점 이상일 경우 A등급.

80점 이상일 경우 B등급.

70점 이상일 경우 C등급.

70점 미만일 경우에는 D등급을 부여하는 코드를 작성하시오.

In [82]:
score = int(input("점수를 입력하세요:"))

if score >= 90:
  print("A등급")
elif score >= 80:
  print("B등급")
elif score >= 70:
  print("C등급")
else:
  print("D등급")

점수를 입력하세요:4
D등급

#더 큰 숫자 출력 문제
사용자에게 정수 값을 2개 입력받아, 더큰 숫자를 출력하고, 만약 같은 숫자라면 같습니다.라는 문장을 출력하시오

In [80]:
a = input("정수 값을 입력해주세요:")
b = input("정수 값을 입력해주세요:")

if a > b:
  print(a)
elif a < b:
  print(b)
else:
  print("같습니다");

정수 값을 입력해주세요:7
정수 값을 입력해주세요:3
7

#숫자에 따른 단위 부여 문제
숫자가 1000 이상이면, 백단위를 생략하고 k를 붙인다.

숫자가 1000000 이상이면, 십만 단위를 생략하고 M을 붙인다.

1,000 -> K

1,000,000 -> M

1,000,000,000 -> G
입력:1000 출력1k

In [284]:
a = int(input("숫자를 입력해주세요:"))

if a >= 1000 and a<1000000:
  print(str(a//1000)+'k')
elif a >= 1000000 and a<1000000000:
  print(str(a//1000000)+'M')
elif a >= 1000000000:
  print(str(a//1000000000)+'G')

숫자를 입력해주세요:1111
1k

In [266]:
a=1
print("%dk" % a)

1k

#연습문제 1

In [127]:
korean = 80
english = 75
math = 55

sum = korean + english + math

print(sum//3)

70

#연습문제2

In [128]:
a = 13
if a%2==0:
  print("짝수")
else:
  print("홀수")

홀수

#연습문제3

In [129]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

#연습문제4

In [131]:
pin = "881120-1068234"
print(pin[7:8])

1

#연습문제5

In [139]:
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

#연습문제6

In [147]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

#연습문제7

In [153]:
a = ['Life','is','too','short']
result = ' '.join(a)
print(result)

Life is too short

#연습문제8

In [182]:
a = (1,2,3)
b = (4,)
a = a+b
print(a)

(1, 2, 3, 4)

#연습문제9
a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python'

a[250] = 'python'

In [196]:
a = dict()


a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python' #리스트에 리스트를 넣은 리스트타입이라 에러가 난다.

a[250] = 'python'
print(a)

TypeError: unhashable type: 'list'

#연습문제10

In [197]:
a = {'A':90,'B':80,'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

#연습문제11

In [198]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aset = set(a)
b = list(aset)
print(b)

[1, 2, 3, 4, 5]

#연습문제12

In [233]:
a = b = [1,2,3]
a[1] = 4       #a와 b가 같은 리스트를 쓰고있기 때문에 리스트를 바꾸면 a와b의 리스트값이 둘다 바뀐다
print(b)

[1, 4, 3]