## 문제 1

두 숫자를 입력받아 더한 결과를 반환하는 함수를 작성한다.

- 함수 이름: `add_numbers`
- 매개변수: 두 개의 숫자
- 반환값: 두 숫자의 합

### 예시
입력: 3, 5  
출력: 8

### 추가 : 사칙연산 모두 구현

In [65]:
def add_numbers(a,b):
  return a+b

add_numbers(2,3)

5

## 문제 2

정수를 입력받아 짝수인지 홀수인지 판별하는 함수를 작성한다.

- 함수 이름: `check_even_odd`
- 매개변수: 정수 하나
- 반환값: 문자열 "짝수입니다." 또는 "홀수입니다."

### 예시
입력: 4  
출력: 짝수입니다.

입력: 7  
출력: 홀수입니다.

### 추가 : 짝수 / 홀수 구분하여 리스트에 저장

In [68]:
def check_even_odd(a):
  if a%2==0:
    print("짝수입니다")
  else:
    print("홀수입니다")

check_even_odd(2)

짝수입니다

## 문제 3

주어진 세 숫자 중 가장 큰 수를 반환하는 함수를 작성한다.

- 함수 이름: `max_of_three`
- 매개변수: 세 개의 숫자
- 반환값: 가장 큰 숫자

### 예시
입력: 5, 8, 2  
출력: 8

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [71]:
def max_of_three(a,b,c):
  if a>b and a>c:
    print(a)
  elif b>a and b>c:
    print(b)
  elif c>a and c>b:
    print(c)

max_of_three(5,2,8)

8

## 문제 4

문자열을 입력받아 그 문자열의 길이를 반환하는 함수를 작성한다.

- 함수 이름: `string_length`
- 매개변수: 문자열 하나
- 반환값: 문자열의 길이 (정수형)

### 예시
입력: "hello"  
출력: 5

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [72]:
def string_length(st):
  print(len(st))

string_length("hello")

5

## 문제 5

여러 개의 과목 점수를 입력받아 평균을 반환하는 함수를 작성한다.

- 함수 이름: `average_score`
- 매개변수: 여러 개의 점수(*args 사용)
- 반환값: 평균 점수

### 예시
입력: 80, 90, 100  
출력: 90.0

In [73]:
def average_score(*args):
  sum=0
  c=0
  for score in args:
    sum = sum+score
    c=c+1
  print(sum/c)
average_score(80,90,100)

90.0

## 문제 6

문자열 리스트를 입력받아, 각 문자열의 길이를 담은 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `lengths_of_strings`
- 매개변수: 문자열 리스트 하나
- 반환값: 정수 리스트

### 예시
입력: ["apple", "banana", "kiwi"]  
출력: [5, 6, 4]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [149]:
def lengths_of_strings(list):
  list_len = []
  for i in range(len(list)):
    list_len.append(len(list[i]))
  print(list_len)
lengths_of_strings(["apple", "banana", "kiwi"])

[5, 6, 4]

## 문제 7

문자열을 입력받아, 대문자는 소문자로, 소문자는 대문자로 변환하여 반환하는 함수를 작성한다.

- 함수 이름: `swap_case`
- 매개변수: 문자열 하나
- 반환값: 변환된 문자열

### 예시
입력: "HeLLo"  
출력: "hEllO"

In [313]:
def swap_case(string):
  list=[]
  for i in string:
    if i.islower():
      list.append(i.upper())
    else:
      list.append(i.lower())
  print("".join(list))
swap_case("HeLLo")

hEllO

## 문제 8

숫자 리스트를 입력받아, 0보다 큰 숫자만 골라서 새로운 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `filter_positive_numbers`
- 매개변수: 숫자 리스트 하나
- 반환값: 양수만 담긴 리스트

### 예시
입력: [-2, 0, 5, 9, -1]  
출력: [5, 9]

In [219]:
def filter_positive_numbers(list):
  c=0
  list1=[]
  for i in list:
    if i > 0:
      list1.append(i)


  print(list1)
filter_positive_numbers([-2,0,5,9,-1])

[5, 9]

## 문제 9

문자열을 입력받아, 단어별로 분리한 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `split_into_words`
- 매개변수: 문자열 하나
- 반환값: 단어 리스트

### 예시
입력: "Python is fun"  
출력: ["Python", "is", "fun"]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [233]:
def split_into_words(list):
  print(list.split())



split_into_words("Python is fun")

['Python', 'is', 'fun']

## 문제 10

문자열과 부분 문자열을 입력받아, 부분 문자열이 몇 번 등장하는지 세는 함수를 작성한다.

- 함수 이름: `count_substring`
- 매개변수: 문자열 하나, 부분 문자열 하나
- 반환값: 등장 횟수 (정수형)

### 예시
입력: ("banana", "na")  
출력: 2

In [244]:
def count_substring(st1,st2):
  print(st1.count(st2))

count_substring("banana","na")

2

## 문제 11

정수 리스트를 입력받아, 리스트 안에서 중복된 숫자만 모아 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `find_duplicates`
- 매개변수: 숫자 리스트 하나
- 반환값: 중복 숫자 리스트

### 예시
입력: [1, 2, 3, 2, 4, 1]  
출력: [1, 2]

In [277]:
def find_duplicates(list):
  list1=[]
  for i in range(len(list)):
    if list.count(list[i]) >= 2:
      list1.append(list[i])

  list1 = set(list1)
  list2 = [*list1]
  print(list2)
find_duplicates( [1, 2, 3, 2, 4, 1])

[1, 2]

## 문제 12

두 개의 문자열을 입력받아, 두 문자열이 아나그램인지 판별하는 함수를 작성한다.

아나그램: 같은 알파벳을 사용해서 순서만 바꾼 단어
- 함수 이름: `is_anagram`
- 매개변수: 문자열 두 개
- 반환값: True 또는 False

### 예시
입력: ("listen", "silent")  
출력: True

입력: ("hello", "world")  
출력: False

In [314]:
def is_anagram(a,b):
  dict_a={}
  dict_b={}

  for i in a:
    dict_a[i] = a.count(i)

  for i in b:
    dict_b[i] = b.count(i)

  if dict_a == dict_b:
    print(True)
  else:
    print(False)

is_anagram("hello", "ehllo")

True